<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head id="head">
  <meta name="author" content="Katja Berlin" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, orientation">
  <title>Hannibal Lector's Cloud Access</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="error-text">
<h1>Something went wrong.</h1>

<p class="paragraph-text">That is not your QR code to start the game.
(You already started the game with a different player_id.) </p>
</div>

</body>

</html>
