<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head id="head">
  <meta name="author" content="Katja Berlin" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, orientation">
  <title>Hannibal Lector's Cloud Access</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="start-text">
	<h1> Welcome, Hannibal! </h1>
	<p class="paragraph-text">
    Please enter your password to gain access to your cloud.<br/>
  </p>
	<form>
		<p>
      Password: <input type="text" name="password"><br/>
    </p>
    {% if request.form['submit_password'] %}
 		<p class="wrong"><b>incorrect password</b></p>
		{% endif %}
  </form>
	<form action="/forgotten">
		<input type="submit" value="Forgot password?">
	</form>
  <form method="POST">
    <input type="submit" value="Send" name="submit_password">
  </form>

</div>

</body>

</html>
